<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

  <style>
    html {
      background: url(<%= image_path randomized_background_image %>) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Open Sans",serif;
      background: transparent;
    }

    h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }

    .margin-base-bottom {
      margin: 0 0 20px 0;
    }

    .margin-base-top {
      margin: 10px 0 0 0;
    }    

    .sub-header {
      font-size: 20px;
    }

    .desc {
      font-size: 14px;
    }

    .lg {
      font-size: 92px;
    }


    @charset "UTF-8";

    @font-face {
      font-family: "landing";
      src: url('<%= asset_path('fonts/landing.eot') %>');
      src: url('<%= asset_path('fonts/landing.eot#iefix') %>') format("embedded-opentype"),
           url('<%= asset_path('fonts/landing.ttf') %>') format("truetype"),
           url('<%= asset_path('fonts/landing.svg') %>') format("svg"),
           url('<%= asset_path('fonts/landing.woff') %>') format("woff");
      font-weight: normal;
      font-style: normal;

    }

    [data-icon]:before {
      font-family: "landing";
      content: attr(data-icon);
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none !important;
      speak: none;
      display: inline-block;
      text-decoration: none;
      width: 1em;
      line-height: 1em;
      -webkit-font-smoothing: antialiased;
    }

    [class^="icon-"]:before,
    [class*=" icon-"]:before {
      font-family: "landing";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none !important;
      speak: none;
      display: inline-block;
      text-decoration: none;
      width: 1em;
      line-height: 1em;
      -webkit-font-smoothing: antialiased;
    }


    .icon-trophy:before {
      content: "a";
    }

    .icon-chart-line:before {
      content: "b";
    }

    .icon-fontawesome-webfont:before {
      content: "c";
    }

    .icon-news:before {
      content: "d";
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-offset-3 panel ">

        <h1 class="margin-base-bottom">Welcome to eSports Tracker</h1>

        <div class="row">
          <div class="col-lg-4 text-center">
            <span class="sub-header">Follow games</span>
            <div data-icon="a" class="icon lg"></div>
            <p class="desc">Follow your favorite games and tournaments, never miss an event.</p>
          </div>
          <div class="col-lg-4 text-center">
            <span class="sub-header">Stay up to date</span>
            <div data-icon="d" class="icon lg"></div>
            <p class="desc">Keep up to date with the latest eSports news and current events.</p>
          </div>
          <div class="col-lg-4 text-center">
            <span class="sub-header">Detailed statistics</span>
            <div data-icon="b" class="icon lg"></div>
            <p class="desc">Track the health of eSports through a wide range of statistics.</p>
          </div>
        </div>

        <p class="text-center margin-base-top">
          <%= link_to "Try it now", home_path, :class => "btn btn-success btn-large" %>
        </p>
      </div>
    </div>
  </div>
</body>
</html>