<%= form_for(:session, url: sessions_path) do |f| %>
  <% flash.each do |key, value| %>
     <div class="session-alert alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Sign in" %>
<% end %>