<li class="feed-item">
  <span class="feed-item-title">New <%= link_to feed_item.game.name, feed_item.game %>
    tournament <span class="feed-item-title-subtext"> <%= time_ago_from_now(feed_item.created_at) %> ago</span></span>
  <span class="feed-item-name"><%= link_to feed_item.name, feed_item %></span>

  <div class="row">
    <% if feed_item.image_url %>
        <div class="feed-img"><%= image_tag feed_item.image_url(:thumb) if feed_item.image? %></div>
    <% end %>
    <div class="span3">
      <ul class="feed-item-information">
        <li>Start Date: <%= feed_item.date %></li>
        <li>Location: <%= image_tag image_path('us-flag.png'), size: "16x16", class: "mini-image" %> <%= feed_item.region %> </li>
        <li>Prize Pool: <%= number_to_currency(feed_item.prize_pool, precision: 0) %></li>
        <li>Format: <%= feed_item.num_competitors %></li>
        <li>Sponsor:</li>
        <li>Source: <%= link_to feed_item.link, feed_item.link %></li>
      </ul>
    </div>
  </div>
</li>