<% tournaments.each do |tournament| %>
  <div class="home-item">
    <h4 class="home-item-header">
      <%= link_to image_tag(tournament.game.image_url(:med_thumb), :tooltip => tournament.game.name), tournament.game %> 
      <%= link_to tournament.name, tournament %>
    </h4>
    <ol class="home-item-events">
    <% tournament.events.current.each do |e| %>
      <li>
        <strong><%= e.name %></strong> <%= event_time_format e.event_time %><br />
        <% if e.streams.any? %>
          <ul class="home-item-streams">
            <span class="badge badge top-vert-align"><%= e.streams.length %></span> 
            <% e.streams.each do |s| %>
              <li>
                <% if s.image.file %>
                  <%= image_tag s.image_url(:small_thumb) %>
                <% else %>
                  <i class="icon-play-circle"></i>
                <% end %>
                <%= link_to s.channel_id, s.link, target: "_blank" %><%= "," unless s.equal? e.streams.last %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class='muted'>No streams found for this event</p>
        <% end %>
      </li>
    <% end %>
    </ol>
  </div>
<% end %>