<div class="row">
  <div class="span9">
    <h2><%= link_to image_tag(feed_item.game.image_url(:large_thumb), :tooltip => feed_item.game.name), feed_item.game %> <%= link_to feed_item.name, feed_item %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="span3">
    <h3><i class="icon-calendar icon-large"></i> <%= feed_item.start_date.strftime("%m-%d-%Y") %></h3>
  </div>
  <div class="span3">
    <h3><i class="icon-money icon-large"></i> <%= number_to_currency(feed_item.prize_pool, :precision => 0) %></h3>
  </div>
  <div class="span">
    <h3><i class="icon-group icon-large"></i>  <%= feed_item.num_competitors %> players</h3>
  </div>
</div>
<div class="row">
  <div class="span9">
    <p class="listing-description">
      <%= feed_item.description %>
    </p>
  </div>
</div>


<!-- Location: <%= image_tag image_path('us-flag.png'), size: "16x16", class: "mini-image" %> <%= feed_item.region %> 
Source: <%= link_to feed_item.link, feed_item.link %>
<%= feed_item.game.image_url(:med_thumb) %> -->