<% if @feed_items.empty? %>
  <h1>Your feed is empty! Follow a game:</h1>
  <% Game.all.each do |g| %>
    <p><%= link_to g.name, g %></p>
  <% end %>
<% else %>
  <% @feed_items.each do |feed_item| %>
    <div class="listing<%= ' listing-last' if feed_item.equal? @feed_items.last %>">
      <%= render partial: 'feed_item_owner', locals: { feed_item: feed_item } %>
      <% if feed_item.feedable.is_a?(Tournament) %>
        <%= render partial: 'tournament_feed_item', :locals => { :feed_item => feed_item.feedable } %>  
      <% elsif feed_item.feedable.is_a?(Event) %>
        <%= render partial: 'event_feed_item', :locals => { :feed_item => feed_item.feedable } %>  
      <% end %>
    </div>
  <% end %>

  <%= paginate @feed_items %>
<% end %>
