<% @users.each do |u| %>
    <p>
      <%= u.name %> -
      <%= u.email %>
      Admin: <%= u.admin %>
      <p>Followed tournaments: <%= u.followed_tournaments.size %></p>
      <% if signed_in_admin? && !current_user?(u) %>
          <%= link_to "Delete", u, method: :delete,
                      confirm: "You sure?" %><br/>
      <% end %>
    </p>
<% end %>