<%= simple_form_for @tournament do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.input :name %>
  <%= f.association :game %>
  <!-- <%= f.association :game, :url => autocomplete_game_name_tournaments_path, as: :autocomplete %> -->
  <%= f.input :link, label: 'Official Website' %>
  <label>Start Date <%= link_to "(examples)", "https://github.com/mojombo/chronic#examples", :target => "_blank" %></label>
  <%= f.input_field :chronic_start_input %>
  <%= f.input :chronic_end_input, label: "End Date" %>
  <%= f.input :prize_pool, label: 'Prize Pool' %>
  <%= f.input :currency %>
  <%= f.input :num_competitors %>
  <%= f.input :description %>
  <%= f.association :regions %>
  <%= f.input :image, as: :file %>
  <%= f.input :remote_image_url%>
  <%= f.button :submit %>
<% end %>