<%= f.input :link, :label => "Tournament Link" %>
<!-- TODO: Change select box to string with autocomplete -->
<%= f.association :game, :as => :select %>
<%= f.input :name, :label => "Tournament Name" %>
<%= f.input :region, :collection => ["Select a region"] + %w[International US EU Asia], :label => "Tournament Region", :selected => "Select a region" %>
<%= f.input :prize_pool, :label => "Prize Pool" %>
<%= f.input :date %>
<%= f.input :num_competitors, :label => "Number of players/teams" %>

<!-- TODO: Expand this field when clicked on -->
<%= f.input :description %>

<div class="field">
  <%= f.label :image %>
  <br/>
  <%= f.file_field :image %>
</div>

<div class="field">
  <%= f.label :remote_image_url, "or image URL" %>
  <%= f.text_field :remote_image_url %>
</div>