<h3><%= @tournament.name %></h3>
<%= simple_form_for @tournament do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'event_fields', :f => f %>
  <%= f.button :submit, "Add Stream" %>
<% end %>