<% @tournaments.each do |t| %>
  <% @owner = t.feed_items.where { key == "Tournament.create" }[0].owner %>
  <div class="tournament-index-item<%= ' tournament-index-item-last' if t.equal? @tournaments.last %>">
    <div class="row">
      <div class="span9">
        <h4>
          <%= link_to image_tag(t.game.image_url(:med_thumb), :tooltip => t.game.name) %> <%= link_to t.name, t %>
          <span class="listing-submit-info">
            submitted by <%= link_to @owner.name, @owner if @owner %>
            <span class="submit-info-time"> <%= time_ago_from_now(t.created_at) %></span>
          </span>
        </h4>
          
      </div>
    </div>

    <div class="row">
      <div class="span">
        <i class="icon-calendar icon-2x icon-align"></i> <%= t.start_date.strftime("%m-%d-%Y") %>
      </div>

      <div class="span">
        <i class="icon-money icon-2x icon-align"></i> <%= humanized_money_with_symbol t.prize_pool %>
      </div>

      <div class="span">
        <i class="icon-group icon-2x icon-align"></i> <%= t.num_competitors %> players
      </div>

      <div class="span">
        <i class="icon-flag-checkered icon-2x icon-align"> </i> <%= pluralize(t.events.length, "event") %>
      </div>
    </div>
    
    <% if t.description %>
      <div class="row">
        <div class="span9 tournament-index-item-description">
          <%= t.description[0..260] %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate @tournaments %>


<% if current_user && current_user.admin? %>
  <p><%= link_to "New tournament", new_tournament_path %></p>
<% end %>