<span class="back_link"><%= link_to "<< back", :back %></span>
<div id="tournament_show">
  <div id="tournament_left">
    <!-- TODO: Make submitter dynamic -->
    <%= image_tag image_path("us-flag.png"), :size => "32x32", :class => "game_image" %>
    <span id="tournament_name"><%= @tournament.name %></span><br/>
    <span id="submitter_subtext">submitted by Tomed</span>
  </div>
  <div id="tournament_right">
    <span id="tournament_game"><%= image_tag @tournament.game.image_url.to_s, :size => "32x32", :class => "game_image" %> <%= @tournament.game.name %></span>
  </div>

  <div class="row-end">&nbsp;</div>

  <table id="tournament_show_stats">
    <tr>
      <td align="left"><%= image_tag image_path("date32.png"), :class => "tournament_show_stat" %> <%= @tournament.date %></td>
      <td align="center"><%= image_tag image_path("coins32.png"), :class => "tournament_show_stat" %> <%= number_to_currency(@tournament.prize_pool, :precision => 0) %></td>
      <td align="right"><%= image_tag image_path("people32.png"), :class => "tournament_show_stat" %> <%= @tournament.num_competitors %>
        players
      </td>
    </tr>
  </table>

  <h2 id="tournament_event_heading">Streams for this tournament</h2>

  <div id="tournament_events">
    <% if !@events.empty? %>
      <% @events.each do |e| %>
        <ul>
          <li><%= image_tag image_path("match32.png"), :size => "24x24" %>Event: <%= e.name %></li>
          <li><%= image_tag image_path("time.png"), :size => "24x24" %>Time: <%= e.event_time %></li>
          <li> <%= image_tag image_path("stream.png"), :size => "24x24" %>Stream
            link: <%= link_to e.stream, e.stream.link %> </li>
          <li><%= image_tag image_path("microphone24.png"), :size => "24x24" %>Casters:
            <% e["streamers"].each do |s| %>
              <%= link_to s[0], s[1] %><%= "," if s != e["streamers"].last %>
            <% end %>
          </li>
        </ul>
      <% end %>

    <% else %>
      No streams have been submitted
    <% end %>
  </div>

  <p>
    <%= link_to "Edit", edit_tournament_path(@tournament) %>
    <%= link_to "Delete", @tournament, method: :delete,
                confirm: "You sure?" %>
  </p>

  <p>Add new stream</p>
  <%= render 'form', :fields => "event_fields" %>

</div>
