<%= @tournament.link %><br />
<%= @tournament.name %> -
<%= @tournament.game.name %> -
<%= @tournament.date %> -
<%= @tournament.region %> -
$<%= @tournament.prize_pool %><br />
<%= @tournament.num_competitors unless !@tournament.num_competitors %> competitors
<p>
  <strong>Streams:</strong><br />
  <% @tournament.events.each do |e| %>
    <%= e.name %><br/>
    <%= e.stream.link %><br/>
    <%= e.date %><br/>
    <%= e.time %><br/>
  <% end %>
</p>

<p><%= @tournament.streams %></p>

<%= link_to "Edit", edit_tournament_path(@tournament) %>
<%= link_to "Delete", @tournament, method: :delete,
            confirm: "You sure?" %>