<% @streams.each do |s| %>
    <p>
      <%= s.link %> -
      <%= s.description unless !s.description %><br />
      <%= s.platform %>: <%= s.channel_id %><br />
      viewers: <%= s.viewer_count %><br />
      live: <%= s.live %><br />
      <%= link_to "Show", stream_path(s) %>
      <%= link_to "Edit", edit_stream_path(s) %>
      <%= link_to "Delete", s, method:  :delete,
                  confirm: "You sure?" %>
    </p>

<% end %>

<p><%= link_to "New stream", new_stream_path %></p>