<% if signed_in_admin? %>
  <p><%= link_to "New stream", new_stream_path %></p>
<% end %>

<h2>Popular Streams</h2>
<div id="popular_streams">
  <% @streams.each do |s| %>
    <div class="popular_stream">
      <%= image_tag s.image_url(:med_thumb) %>
      <%= s.name %>
      <span id="popular_stream_viewers"><%= s.live ? "LIVE" : "Not Live" %> <%= link_to "#{s.viewer_count} viewers", s.link, :target => "_blank" %></span>
      <br/>
      <%= link_to s.current_game do %>
        <%= image_tag s.current_game.image_url(:small_thumb) %>
        <%= s.current_game.name %>
      <% end %>
    </div>
    <%= link_to "Show", stream_path(s) %>
    <%= link_to "Edit", edit_stream_path(s) %>
  <% end %>
</div>