<%= simple_form_for @event do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.input :name %>
  <%= f.association :tournament %>
  <label>Event date/time <%= link_to "(examples)", "https://github.com/mojombo/chronic#examples", :target => "_blank" %></label>
  <%= f.input_field :chronic_input %>
  <%= f.input :description %>
  <%= f.association :streams %>
  <%= f.button :submit %>
<% end %>
