<%= link_to "<< back", :back %>
<p><%= @event.tournament.name %></p>
<p><%= @event.name %></p>
<p><%= @event.event_time %></p>
<p><%= @event.description %></p>
<% @event.streams.each do |e| %>
  <%= e %>
<% end %>
