<div class="field">
  <%= f.label :name %>
  <br/>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :abbreviation %>
  <br/>
  <%= f.text_field :abbreviation %>
</div>

<div class="field">
  <%= f.label :website %>
  <br/>
  <%= f.text_field :website %>
</div>

<div class="field">
  <%= f.label :genre %>
  <br/>
  <%= f.text_field :genre %>
</div>

<div class="field">
  <%= f.label :competitor_type %>
  <br/>
  <%= f.text_field :competitor_type %>
</div>

<div class="field">
  <%= f.label :num_players %>
  <br/>
  <%= f.text_field :num_players %>
</div>

<div class="field">
  <%= f.label :developer %>
  <br/>
  <%= f.collection_select :developer_id, @developers, :id, :name %>
</div>

<div class="field">
  <%= f.label :image %>
  <br/>
  <%= image_tag @game.image_url.to_s %><br />
  <%= f.file_field :image %>
</div>

<div class="field">
  <%= f.label :remote_image_url, "or image URL" %>
  <%= f.text_field :remote_image_url %>
</div>