<h2>Top Active Games <span class="heading_sublink"><%= link_to "browse all games", "#" %></span></h2>
<div id="top_active_games">
  <% @games.each do |g| %>
    <div class="top_active_game">
      <span id="active_game_label">
        <%= "#{@games.index(g)+1}. " %>
        <%= link_to g do %>
          <%= image_tag g.image_url(:med_thumb) %> <%= g.name %>
        <% end %>
      </span>
      <br/>

      <div id="active_game_stat_left">45/200 tournaments
        <span id="active_game_stat_right">$500k/$1.5m</span>
      </div>

    </div>
  <% end %>
</div>

<p><%= link_to "New game", new_game_path %></p>