<% @games.each do |g| %>
  <div class="row">
      <div class="span6 game-index-item<%= ' game-index-item-last' if g.equal? @games.last %>">
      <%= link_to g do %>
      <h4>
        <%= image_tag g.image_url(:med_thumb) %> <%= g.name %>

      <% end %>
      developed by <%= image_tag g.developer.image_url(:med_thumb) %> <%= g.developer.name %>
    </h4> 
      <div class="row">
        <div class="span6 game-index-stats">
          <span style="margin-right: 20px">
            <i class="icon-trophy"></i> Total Tournaments: <%= g.tournaments.length %>
          </span>
          <i class="icon-money"></i> Total Prizes: <%= number_to_currency(g.tournaments.collect { |t| t.prize_pool }.inject(:+), :precision => 0)  %>
        </div>
      </div>
    </div>
  </div>
<% end %>
