<%= @game.name %><br />
<%= @game.website %><br />
<%= @game.developer.name %><br />
<%= @game.genre %><br />
<%= @game.players unless !@game.players %>
<p>Tournaments: <br /><%= @game.tournaments.map { |f| f.name }.join ', '%></p>

<%= link_to "Edit", edit_game_path(@game) %>
<%= link_to "Delete", @game, method:  :delete,
            confirm: "You sure?" %>