<%= link_to "<< back", :back %>
    <%= image_tag @game.image_url(:med_thumb) %>
    <%= image_path('placeholder.png').to_s %>
   <%= @game.name %></span>  <%= render 'follow_form' %>
    Genre: <%= @game.genre %>
    Developer: <%= @game.developer.name %>
Competitive Statistics
      Tournaments: <%= @tournaments.count %>
      Total Prizes: <%= number_to_currency(@prize_total, precision: 0) %>
      Average prize pool per tournament:

      Recent & Upcoming Tournaments
<p>
  <%= link_to "Edit", edit_game_path(@game) %>
  <%= link_to "Delete", @game, method: :delete,
              confirm: "You sure?" %> <br/>
</p>
