<div class="field">
  <%= f.label :online_name %><br />
  <%= f.text_field :online_name %>
</div>

<div class="field">
  <%= f.label :real_name %><br />
  <%= f.text_field :real_name %>
</div>

<div class="field">
  <%= f.label :website %><br />
  <%= f.text_field :website %>
</div>

<div class="field">
  <%= f.label :biography %><br />
  <%= f.text_area :biography %>
</div>

<div class="field">
  <%= f.label :nationality %><br />
  <%= f.text_field :nationality %>
</div>

<div class="field">
  <%= f.label :birthday %><br />
  <%= f.date_select :birthday, :start_year => 1920 %>
</div>

<div class="field">
  <%= f.label :image %>
  <br/>
  <%= f.file_field :image %>
</div>

<div class="field">
  <%= f.label :remote_image_url, "or image URL" %>
  <%= f.text_field :remote_image_url %>
</div>