<div class="events">
  <span class="sidebar_header">Events</span>
  <ul class="sidebar_list">
    <% @sidebar_events.each do |e| %>
      <li class="sidebar_item">
        <%= image_tag get_image(e.tournament.game), :size => "32x32", :class => "game_image" %>
        <span class="sidebar_right_float"><%= event_time_format(e.event_time) %></span>
        <%= link_to e.tournament.game.name, game_path(e.tournament.game) %>
        <br/>
        <%= image_tag image_path('us-flag.png'), :size => "16x16", :class => "game_image" %>
        <%= link_to e.tournament.name, tournament_path(e.tournament), :class => "sidebar_tournament_name" %>
        <span class="sidebar_event_name"><%= link_to e.name, tournament_path(e.tournament) %></span>
      </li>
    <% end %>
  </ul>
</div>