<ul class="nav nav-pills">
  <% if signed_in? %>
    <li class="<%= 'active' if params[:action] == 'feed' %>"> <%= link_to "Feed", feed_path %></li>
  <% end %>
  <li class="<%= 'active' if params[:controller] == 'tournaments' %>"> <%= link_to "Tournaments", tournaments_path %></li>
  <li class="<%= 'active' if params[:controller] == 'streams' %>"> <%= link_to "Streams", streams_path %></li>
  <% if signed_in? && current_user.admin? %>
      <li class="<%= 'active' if params[:controller] == 'games' %>"> <%= link_to "Games", games_path %></li>
      <li class="<%= 'active' if params[:controller] == 'developers' %>"> <%= link_to "Developers", developers_path %></li>
      <li class="<%= 'active' if params[:controller] == 'users' && params[:action] != 'feed' %>"> <%= link_to "Users", users_path %></li>
  <% end %>
</ul>