<h1>Streams</h1>
<div class="streams">
  <ul class="sidebar-list">
    <% @sidebar_streams.each do |s| %>
      <li>
        <%= link_to s.streamers[0] do %>
        <%= image_tag image_path('us-flag.png'), :size => "16x16", :class => "flag-image" %>
        <%= s.streamers[0].online_name %>
        <% end %>
        is playing

        <p>
          <%= s.viewer_count %> viewers
          <%= link_to "Watch Now", s.link %>
        </p>
      </li>
    <% end %>
  </ul>
</div>