<div class="streams">
  <span class="sidebar_header">Streams</span>
  <ul class="sidebar_list">
    <% @sidebar_streams.each do |s| %>
      <li class="sidebar_item">
        <%= link_to s.streamers[0] do %>
          <%= image_tag s.streamers[0].image_url.to_s, :size => "32x32", :class => "player_thumb" %>
          <%= s.streamers[0].online_name %>
          <%= image_tag image_path('us-flag.png'), :size => "16x16", :class => "flag_image" %>
        <% end %>
        <span class="sidebar_right_float"><%= s.viewer_count %> viewers</span>
        <br/>

        <%= link_to s.games[0] do %>
          <%= image_tag s.games[0].image_url.to_s, :size => "16x16", :class => "game_image" %>
          <%= s.games[0].name %>
          <br/>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>