<h1>Streams</h1>
<div class="streams">
  <ul class="sidebar-list">
    <% @sidebar_streams.each do |s| %>
      <li>
        <%= link_to s.streamers[0] do %>
        <%= image_tag image_path('us-flag.png'), :size => "16x16", :class => "flag-image" %>
        <%= s.streamers[0].online_name %>
        <% end %>
        is playing
        <span style="padding-left: 2px">
          <%= link_to s.current_game do %>
            <%= image_tag s.current_game.image_url(:small_thumb) %>
            <%= s.current_game.abbreviation ? s.current_game.abbreviation : s.current_game.name %>
          <% end %>
        </span>
        <p>
          <%= s.viewer_count %> viewers
          <%= link_to "Watch Now", s.link %>
        </p>
      </li>
    <% end %>
  </ul>
</div>