<!DOCTYPE html>
<html>
<head>
  <title>Gametracker</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to "eSports eXposure", root_path %> |
  <% if signed_in? %>
      Signed in as <strong><%= current_user.name %></strong>
      <%= link_to "Sign out", signout_path, method: "delete" %>
  <% else %>
      <%= link_to "Sign in", signin_path %>
  <% end %>
</header>

<div class="layout">
  <!--TODO: If user signed in show this -->

  <div class="row">
    <div class="col8">
      <nav class="dashboard">
        <ul>
          <li><%= link_to "Tournaments", tournaments_path %></li>
          <li><%= link_to "Developers", developers_path %></li>
          <li><%= link_to "Games", games_path %></li>
          <li><%= link_to "Streams", streams_path %></li>
          <li><%= link_to "Streamers", streamers_path %></li>
        </ul>
      </nav>
      <% flash.each do |key, value| %>
          <%= key %>: <%= value %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>

    <div class="col4">
      <%= render 'layouts/events' %>
      <%= render 'layouts/streams' %>
    </div>
    <div class="row-end">&nbsp;</div>
  </div>

</div>
</body>
</html>