<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>eSports Tracker</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      
      <div class="span9">
        <%= yield %>
      </div>

      <div class="span3">
        <%= render 'layouts/streams' %>
      </div>

    </div>

    <div class="pagination">
</div>

    <%= debug(params) if Rails.env.development? %>
    <%= Time.now if Rails.env.development? %>
  </div>
  
</body>
</html>