<!DOCTYPE html>
<html>
<head>
  <title>Gametracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
  <%= link_to "Tournaments", tournaments_path %> |
  <%= link_to "Developers", developers_path %> |
  <%= link_to "Games", games_path %> |
  <%= link_to "Streamers", streamers_path %>

</p>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>